[submodule "Attention"]
	path = Attention
	url = git@github.com:ClasScorer/Attention.git
[submodule "Hand-Raising"]
	path = Hand-Raising
	url = git@github.com:ClasScorer/Hand-Raising.git
[submodule "Recognition"]
	path = Recognition
	url = git@github.com:ClasScorer/Recognition.git
[submodule "Localization"]
	path = Localization
	url = git@github.com:ClasScorer/localization.git
[submodule "Gateway"]
	path = Gateway
	url = git@github.com:ClasScorer/Gateway.git
[submodule "Avatar-Creation"]
	path = Avatar-Creation
	url = git@github.com:ClasScorer/Avatar_Creation.git
[submodule "classcorer-webapp"]
	path = classcorer-webapp
	url = git@github.com:ClasScorer/classcorer-webapp.git
